.section {
  @apply mx-auto max-w-7xl px-4 py-10;
}

.schedule {
  @apply mt-10;
}

.scheduleHeader {
  @apply mb-8 flex items-center justify-between;
}

.scheduleTitle {
  @apply font-serif text-[20px] md:text-2xl text-dm-dark;
}

.scheduleFilter {
  @apply text-sm font-sans text-gray-500;
}

.filterValue {
  @apply font-bold text-dm-crimson;
}

.streamsGrid {
  @apply grid grid-cols-2 gap-4 sm:gap-6 md:grid-cols-3 lg:grid-cols-4;
}

.streamItem {
  @apply col-span-1;
}

.streamItemWide {
  @apply col-span-2 md:col-span-2;
}
