.layout {
  @apply relative;
}

.main {
  @apply pt-1 pb-[calc(6rem+env(safe-area-inset-bottom))] md:pb-12;
}

.mainPreview {
  @apply pt-24;
}

.mainNoChrome {
  @apply pt-0 pb-0;
}

@media (min-width: 1024px) {
  .mainDesktopCompact {
    padding-top: 12px;
  }
}
